{
  "scraper": {
    "url": "https://www.local.ch/it/q/Ticino%20(Regione)/Informatica",
    "pagesToScrape": 1
  },
  "emailSmtp": {
    "email": "example@example.com",
    "password": "psw",
    "server": "smtp.test.com",
    "port": 123
  },
  "presentationLetter": {
    "presentationLetter": {
    "your_name": "Luca",
    "your_surname": "Di Bello",
    "your_phone": {
      "prefix": "Tel.",
      "number": "+41 12 345 67 89"
    },
    "your_city_name": "Flatlandia",
    "your_address": "Address to your house 10",
    "your_zip_code": "1234",
    "document_title": "Internship request",
    "head_document_greeting": "Dear",
    "document_body": [
      "Hello developer!"
      "",
      "This is the document body",
      "",
      "With a space between each line ",
      "",
      "Hope this software helps you find your dream job :)",
      "",
      "Greetings, "
      "",
      "@lucadibello - lucadibello.ch"
    ]
  }
}