{
  "emailSmtp": {
    "email": "example@example.com",
    "password": "psw",
    "server": "smtp.test.com",
    "port": 123
  },
  "presentationLetter": {
    "your_name": "Luca",
    "your_surname": "Di Bello",
    "your_phone": {
      "prefix": "Tel.",
      "number": "41 12 345 67 89"
    },
    "your_city_name": "Flatlandia",
    "your_address": "Address to your house 10",
    "your_zip_code": "1234",
    "document_title": "Internship",
    "head_document_greeting": "Dear"
  }
}